<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login-style.css">
</head>
<body>
    <!-- navbar -->
    <div class="topnav">
        <div class="logo">TMS</div>
        <a href="/login" onclick="active(id)" id="login">Login</a>
        <a href="#about" onclick="active(id)" id="aboutt">About</a>
        <a href="/" id='home' class='active'>Home</a>

    </div>