<%- include('partials/header'); -%>
<!-- cta -->
<div class="cta"></div>
<hr>
<!-- upcoming events -->

<div class="UE">
    <div class="text">
        <a href="" style="position: absolute; right: 12px;">See more</a>
        <h1>
            Upcoming Events
        </h1>
    </div>
    <div class="scrollButton left"> &#60; </div>
    <div class="scrollButton right"> &#62 </div>
    <div class="wrapper">
        <div class="card">
            <img class="cardImg" src="res/snake.PNG" alt="snake">

            <h3>Snake</h3>
            <p>Bring Back those nokia Nostagia for a while, by this iconic title.</p>
            <a href="https://akuma-dhruv.github.io/Experiment">PLAY</a>
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>

    </div>
</div>
</div>
<hr>
<div class="TG">
    <div class="text">
        <a href="" style="position: absolute; right: 12px;">See more</a>
        <h1>
            Try Some Games
        </h1>
    </div>
    <div class="scrollButton left"> &#60; </div>
    <div class="scrollButton right"> &#62 </div>
    <div class="wrapper">
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
    </div>
</div>
</div>
<hr>

<%- include('partials/footer'); -%>
