<%- include('partials/header'); -%>
<div class="login__form">

    <form action="" class="form">
        <h1 class="form_title">Sign in</h1>
        <div class="form__input">
            <input type="text" class="input" name="email" placeholder="Email">
            <label for="email" class="form__label">Email</label>
        </div>
        <div class="form__input">
            <input type="password" class="input" name="password" placeholder="Password">
            <label for="password" class="form__label">Password</label>
        </div>
        <button type="submit" class='form__button'>Sign in</button>
        <a href="/signup">Or Create a account</a>
    </form>
</div>
<%- include('partials/footer'); -%>